<!DOCTYPE=html>
<html>
<head>
    <link rel="stylesheet" type="text.css" href="./static/madlibs.css"/>
</head>
<body>
<h1> DJ MAD LIP$ - "N3RD 4L3R7"</h1>
<p> 
    <em>[sound of air horns]</em>
    <br>
    <br>
    DJ MAD LIP$ in tha lab!!!!!!!!!
    <br>
    <br>
    <em>[sound of keys typing]</em>
    <br> 
    <br>
    i was teased at school
    <br> 
    they said {{ person }} would never be cool
    <br>
    they said {{ person }} would never make it
    <br>
    but check out my sh--BLEEP
    <br>
    making hella tech monies
    <br>
    got hella tech honeys*
    <br>
    i'm flashing my {{ color }} nerd look
    <br>
    got my {{ color }} macbook
    <br>
    coding like i'm guido
    <br>
    you know i'm the {{adjective}} elite, yo
    <br>
    you don't understand how these language work
    <br>
    so all you say back is "nerrrrd alerrrrt"
    <br>
    <br>
    <em>[sound of air horns]</em>
    <br>
    <br>
    *honeys = high speed {{ noun }}
</p>
<img src="http://i.imgur.com/zFHpG.gif">
</body>
</html>